<p><%= select_tag "tracker_id", options_from_collection_for_select(@project.trackers.collect, "id", "name"), {:required => true, :onchange => "refresh_trackers(this);"} %><p>

<div id='custom_fields_form'>
  <% @project.trackers.each do |tracker| %>
  <div id='tracker_<%= tracker.id %>' class='tracker'>
    <span style="color: #888;"><%= l(:changed_cf_position) %></span>
    <ul class='sortable_items sortable_tracker-<%= tracker.id %> nil not_a_group'>
      <% @cfs.select{|x| x[0]==tracker.id && x[2]==nil}.each do |x| %>
      <li id="<%= x[6] %>" pos="<%= x[8] %>"><%= x[7] %></li>
      <% end %>
    </ul>
    <span style="color: #888;"><%= l(:global_cf_position) %></span>
    <ul class="sortable_items sortable_tracker-<%= tracker.id %> unsorted not_a_group">
      <% Issue.new(project_id: @project.id, tracker_id: tracker.id).custom_field_values.
           select{|x| ! @cfs.select{|c| c[0]==tracker.id}.map{|c| c[6]}.include?(x.custom_field_id)}.
           collect{|x| [x.custom_field.id, x.custom_field.name, x.custom_field.position]}.each do |x| %>
      <li id="<%= x[0] %>" pos="<%= x[2] %>"><%= x[1] %></li>
      <% end %>
    </ul>
    <span style="color: #888;"><%= l(:grouped_cf) %></span>
    <div class='sortable_groups groups_tracker-<%= tracker.id %>'>
      <% @cfs.select{|x| x[0]==tracker.id && x[2]!=nil}.map{|x| x[2]}.uniq.each do |group_name| %>
      <div class="sortable_group">
       <%= group_category_for_select group_name %>
       <% full_width_layout = false %>
         <% @cfs.select{|y| y.length > 9 && y[0]==tracker.id && y[2]==group_name}.each do |grouped_field| %>
         <% full_width_layout ||= grouped_field[9] %>
         <% end %>
         <label for='full_width_layout'><%=l(:field_full_width_layout)%></label>
       <%= check_box_tag :full_width_layout, full_width_layout, full_width_layout, :full_width_layout %>
        <img src="/images/delete.png" onclick="remove_label(this, 'tracker-<%= tracker.id %>');"/>
        <ul class='sortable_items sortable_tracker-<%= tracker.id %>'>
          <% @cfs.select{|x| x[0]==tracker.id && x[2]==group_name}.each do |x| %>
          <li id="<%= x[6] %>" pos="<%= x[8] %>"><%= x[7] %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div>
        <%= group_category_for_select 0 %>
        <%= check_box_tag :full_width_layout,'false',false,'false' %>
        <img src="/images/add.png" style="" onclick="add_label(this, 'tracker-<%= tracker.id %>');"/>
      </div>
    </div>
  </div>
  <% end %>
<%= form_for @project, :url => { :action => 'group_issues_custom_fields', :id => @project },
            :html => {:id => 'group_issues_custom_fields-form',
                      :method => :post} do |f| %>

<%= hidden_field :group_issues_custom_fields, '', :id => 'group_issues_custom_fields', :name => 'group_issues_custom_fields' %>
<p><%= submit_tag l(:button_save), :onclick => "fill_json_data();" %></p>
<% end %>
</div>

<% content_for :header_tags do %>
<%= stylesheet_link_tag 'attribute_category', plugin: 'attribute_category' %>
<%= javascript_include_tag 'group_issues_custom_fields.js', plugin: 'attribute_category'%>
<% end %>

<script>
  $('#tracker_id').change();
    <% @project.trackers.each do |tracker| %>
    init_sortables('tracker-<%= tracker.id %>');
    <% end %>
</script>
